@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    background: #33CCFC
}

Form{
    border-radius: 15px;
}

.paginationBttns{
    width:80%;
    height:50px;
    list-style-type: none;
    display:flex;
    justify-content: center;


    
}
.paginationBttns a{
    padding: 9px;
    margin:3px;
    border-radius: 95%;
    background-color: blue;
    color:whitesmoke;
    text-decoration: none;
    cursor: pointer;
}
.paginationBttns a:hover{
    background-color: whitesmoke;
    color: black;
}




/* *{
    margin:0;
    padding:0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    outline:none;
}
nav{
    position: absolute;
    
    height: 100%;
    width: 90px;
    overflow: hidden;
    transform: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
    z-index: 1;

}

.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
}
img{
    width: 60px;
    height: 60px;
    object-fit: contain;
    box-sizing: border-box;
}
.zen{
    font-weight: bold;
    font-size: 3px;
    text-transform: uppercase;

}
a{
    position: relative;
    color:#6610f2;
    font-size: 10px;
    width:30px;
    padding:2px;
    text-decoration: none;
    border: none;
}
.fas{
    position:relative ;
    width: 40px;
    height:20px;
    top:5px;
   
    text-align: center;
}
.nav-item{
    position: relative;
    top:-20px;
    margin-left:60px;
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
}








nav:hover{

  width:280px;
  transition: all 0.5s ease;
  height: 100%;
  background-color: bisque;
  box-sizing: border-box;


}

ul li{
    list-style-type: none;
}

 */
